{% extends 'knowledge_base/base.html' %}
{% block content %}
    <h1 class="text-3xl font-bold mb-2 md:text-4xl">Всё, что нужно знать на первом курсе - найдёте здесь!</h1>
    <p class="text-gray-600 text-sm mb-10 md:text-base">Единая база знаний: полезные материалы, лайфхаки по выживанию в общаге и ответы на частые вопросы</p>
    <div class="flex flex-wrap gap-4 md:gap-6">
        {% for category in categories %}
            <a href="{% url 'knowledge_base:category_detail' category.slug %}" 
               class="group block p-[1.5px] rounded-2xl bg-gradient-to-b from-pink-400 to-yellow-400 shadow-sm hover:shadow-lg transition-all hover:-translate-y-0.5
                      flex-grow basis-[100%] sm:basis-[280px]">
                <div class="bg-white rounded-2xl py-6 px-4 h-full flex items-center justify-center">
                    <span class="uppercase font-bold text-gray-900 text-[14px] md:text-[15px] tracking-wide group-hover:text-orange-500 transition-colors text-center">
                        {{ category.name }}
                    </span>
                </div>
            </a>
        {% empty %}
            <p class="col-span-full text-gray-500 w-full">Категорий пока нет.</p>
        {% endfor %}
    </div>
{% endblock %}